<a href="https://colab.research.google.com/github/sakshi-runghe/Python_Practice/blob/main/Python_Practice_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.Print numbers from 1 to 10 except 3 and 8
#2.Find the first number divisible by 7 between 1 and 100
#3.count vowels in a string
#4.print all numbers from 1 to 30 except multiples of 5
#5.print numbers 1-50 but skips multiples of 3 ,skip numbers ending with 7 ,stop completely if number becomes 37
#6.remove duplicates elements from tuple
#7.find the second largest element without using sort() in a list
#8.split a list into two halves
#9.find common elements between two lists without using set()
#10.check if list is palindrome
#11.count frequency of each character
#12.find duplicate characters
#13.remove duplicate characters
#14.replace vowels with *
#15.count words in a sentence

PYTHON PRACTICE QUESTIONS

In [ ]:
#1.Print numbers from 1 to 10 except 3 and 8
for i in range(1,10):
  if i==3 or i==8:
    continue
  print(i)

1
2
4
5
6
7
9

In [ ]:
#2.Find the first number divisible by 7 between 1 and 100
for i in range(1,101):
  if i%7==0:
    print(i)
    break

7

In [ ]:
#3.count vowels in a string
str_ = "aaeiooudmsgnanhejksaaioua"
vowels = "aeiou"

count = 0
for ch in str_:
    if ch in vowels:
        count += 1

print(count)

15

In [ ]:
#4.print all numbers from 1 to 30 except multiples of 5
for i in range(1,30):
  if i %5==0:
    continue
  print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29

In [ ]:
#5.print numbers 1-50 but skips multiples of 3 ,skip numbers ending with 7 ,stop completely if number becomes 37
for i in range(1, 51):
    if i == 37:      # stop completely
        break
    if i % 3 == 0 or i % 10 == 7:  # skip conditions
        continue
    print(i)

1
2
4
5
8
10
11
13
14
16
19
20
22
23
25
26
28
29
31
32
34
35

In [ ]:
#6.remove duplicates elements from tuple
tuple_=(2,3,4,2,2,7,2)
x=set(tuple_)
print(tuple(x))

(2, 3, 4, 7)

In [ ]:
#7.find the second largest element without using sort() in a list
list1=[3,2,3,23,67,45]
list1.sort()
list1
print(list1[-2])

45

In [ ]:
#8.split a list into two halves
lst = [1, 2, 3, 4, 5, 6]

mid = len(lst) // 2
first = lst[:mid]
second = lst[mid:]

print(first)
print(second)

[1, 2, 3]
[4, 5, 6]

In [ ]:
#9.find common elements between two lists without using set()
a = [1, 2, 3, 4, 5]
b = [3, 4, 6, 7]
common = []
for x in a:
    if x in b and x not in common:
        common.append(x)
print(common)

In [ ]:
#10.check if list is palindrome
lst = [1, 2, 3, 2, 1]
if lst == lst[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

In [ ]:
#11.count frequency of each character
s = "SakShi"
count = {}

for ch in s:
    if ch in count:
        count[ch] += 1
    else:
        count[ch] = 1
print(count)

{'S': 2, 'a': 1, 'k': 1, 'h': 1, 'i': 1}

In [ ]:
#12.find duplicate characters
s = "programming"
for ch in s:
    if s.count(ch) > 1:
        print(ch)

r
g
r
m
m
g

In [ ]:
#13.remove duplicate characters
s = "programming"
result = ""

for ch in s:
    if ch not in result:
        result += ch
print(result)

In [ ]:
#14.replace vowels with *
s = "programming"
vowels = "aeiouAEIOU"
result = ""

for ch in s:
    if ch in vowels:
        result += "*"
    else:
        result += ch
print(result)

pr*gr*mm*ng

In [ ]:
#15.count words in a sentence
s = "Welcome to the world!"

words = s.split()
print(words)
print(len(words))

['Welcome', 'to', 'the', 'world', '!']
5